.header_area{
  position:fixed !important;
  -moz-box-shadow:    3px 3px 5px 6px rgb(238, 230, 230);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(238, 230, 230);
  box-shadow:         3px 3px 5px 6px rgb(238, 230, 230);
}
